
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    background-color: #2b2d42;
    list-style: none;
    display: flex;
    height: 50px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
}
li a {
    color: #ffffffff;
    padding: 10px;
    margin: 10 10px;
}
main {
    color: whitesmoke;
    border: radius 10%;
    border-color: white;
    background-image: url("menu2.jpg");
    background-size: cover;
    /*background-repeat: no-repeat; */
}
.menu_heading {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7vmin;
    font-weight: 700;
    font-family: Lato, sans-serif;
   
}
ul::first-line {
    text-decoration: underline;
    font-size: 3vmin;
    font-weight: 200;
    font-family: cursive;
 
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
div ul {
    list-style: none;
    text-align: center;
}
li p:first-child {
    font-weight: bold;
    font-size: 150%;
}
footer {
    display: flex;
    margin-top: 40px;
}
footer div {
    flex: 1;
    font-size: 100%;
}



